body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 20px;
  background-color: #blue;
}

h1 {
  color:green;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #007BFF;
  font-weight: bold;
}

nav ul li a:hover {
  color: #0056b3;
}
nav ul li a p {
  color: red;
}
 

